.users {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px 15px;
  }
  
  .user-card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 15px 20px;
    font-weight: 300;
  
    & h1 {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }